 

    /* very small devices  */
    @media (max-width: 575px) {  
        p{
            margin:0px 0px 25px 0px; /* TOP RIGHT BOTTOM LEFT */
            font-size:0.75rem;
        }          
    }
    
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {  
        p{
            margin:0px 0px 25px 0px; /* TOP RIGHT BOTTOM LEFT */
            font-size:0.75rem;
        }  
    }
    
    /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
    @media (min-width: 768px) {  
        p{
            margin:0px 0px 25px 0px; /* TOP RIGHT BOTTOM LEFT */
            font-size:0.75rem;
        }
    }
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {  
        p{
            margin:0px 0px 25px 0px; /* TOP RIGHT BOTTOM LEFT */
            font-size:1.0rem;
        } 
    }
    
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  
        p{
            margin:0px 0px 25px 0px; /* TOP RIGHT BOTTOM LEFT */
            font-size:1.0rem;
        }
    }/* */







    /* GLOBAL CSS */


    .favicon{
        background: transparent;
    }

    body{
        background-color:#FFFFFF;
        font-family: 'Open Sans',serif;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
      .navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
    }

    .logo {
        margin-left: 50px;
        position: relative;
        top: 0px;
        left: 0px;
        width: 150px;
       margin-right: 50px;
        transform:scale(1.5);
    }

    /* #footer */ a {
      text-decoration: none;
      color: #fff;
    } 
    
    .fullWidthBlack #rights span {
        color: #fff;
        text-align: center;
        display: block;
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 0px;
    }

    .navbar-brand{
        font-weight:normal;
        font-size:1.0rem;
    }


    .nav-link{
        font-size: 14px;
        color: #FFF !important;
        text-decoration: none;

        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        font-weight:300;
    }

  /*   .navigation-top  */ul li {
    float: left;
    margin-left: 20px;
    margin-top: 0px;
    padding: 7px 10px;
}
    
    .navigation-top {
        width: 700px;
        float: right;
    }
    
    .visual {
        width: 100%;
       height: 200px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: #F00;
        left: 0px;
       position: absolute;
        display: inline-block;
    }

    .svgVisualBase{
        background-color: #00F;
    }

    h1{
        font-weight:bold;
    }